body {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: #375e97;
    font-size: 2em;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-bottom: 1px solid #375e97;
}

.job-title {
    color: #999999;
    font-weight: bold;
}

.contact {
    margin-top: 1em;
    color: #999999;
    font-weight: bold;
}

a:link, a:visited {
    color: #fb6542;
}

a:hover {
    text-decoration: none;
}
