body {
    font-family: Arial, sans-serif;
}

.section {
    margin-bottom: 20px;
    border-bottom: 1px solid;
}

.section h2 {
    font-size: 24px;
    color: #333;
}

.section p {
    font-size: 18px;
}

.profile-info {
    font-size: 16px;
    line-height: 24px;
    color: #333;
}

a:link, a:visited {
    color: #fb6542;
}

a:hover {
    text-decoration: none;
}
