body {
    font-family: sans-serif;
    margin: 0 auto;
    width: 800px;
}

ul {
    padding-left: 20px;
}

li {
    margin-bottom: 5px;
}

.profile {
    line-height: 24px;
    color: #0067a5;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.name {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.contact {
    display: inline;
    margin: 10px;
}

.section {
    margin-bottom: 20px;
    border-bottom: 1px solid #0067a5;
}

.section h2 {
    font-size: 24px;
    margin-top: 15px;
    margin-bottom: 15px;
    color: #0067a5;
}

.section p {
    font-size: 18px;
}

.period {
    font-size: 18px;
    display: flex;
    justify-content: space-between;
    color: #0067a5;
}

.title {
    display: flex;
    font-weight: bold;
}

.time {
    display: flex;
}

a:link, a:visited {
    color: #fb6542;
}

a:hover {
    text-decoration: none;
}
