@import './base.css';

#app {
    height: 800px;
    width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    font-weight: normal;
    background-image: url('../assets/bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}